<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.app.mapper.ContentMapper">


	<resultMap id="contentMap" type="Content" autoMapping="true">
		<association property="category">
			<id property="id" column="category_id" />
			<result property="name" column="category_name" />
		</association>
	</resultMap>

	<!-- contentsテーブルから全データを取得 -->
	<select id="selectAll"
		resultType="com.example.app.domain.Content">
		SELECT * FROM contents
	</select>

	<!-- ID に基づいてデータを1件取得 -->
	<select id="selectById" parameterType="Integer"
		resultType="com.example.app.domain.Content">
		SELECT * FROM contents WHERE id = #{id}
	</select>

	<!-- ページ分割取得 -->
	<select id="selectLimited"
		resultType="com.example.app.domain.ContentMap">
		SELECT
		c.id,
		m.name AS member_name,
		ca.name AS category_name,
		c.product_name,
		c.work_date,
		c.place,
		c.total_price,
		c.note,
		c.image_plant1,
		c.image_plant2,
		c.image_plant3
		FROM contents c
		LEFT JOIN members m ON c.member_id = m.id
		LEFT JOIN categories ca ON c.category_id = ca.id
		ORDER BY c.id DESC
		LIMIT #{offset} OFFSET #{limit}
	</select>


	<select id="count" resultType="long">
		SELECT COUNT(*) FROM contents
	</select>


	<!-- データの追加 -->
	<insert id="insert" parameterType="com.example.app.domain.Content">
		INSERT INTO contents (
		member_id,
		category_id,
		product_name,
		work_date, place,
		total_price,
		note,
		image_plant1,
		image_plant2,
		image_plant3
		) VALUES (
		#{memberId}, #{categoryId}, #{productName}, NOW(), #{place},
		#{totalPrice}, #{note}, #{imagePlant1}, #{imagePlant2}, #{imagePlant3}
		)
	</insert>


	<!-- データの更新 -->
  <update id="update" parameterType="com.example.app.domain.Content">
    UPDATE contents
    SET 
        member_id = #{memberId},
        category_id = #{categoryId},
        product_name = #{productName},
        work_date = #{workDate},
        place = #{place},
        total_price = #{totalPrice},
        note = #{note},
        image_plant1 = #{imagePlant1},
        image_plant2 = #{imagePlant2},
        image_plant3 = #{imagePlant3}
    WHERE id = #{id}
  </update>

	<!-- データの削除 -->
	<delete id="delete" parameterType="int">
		DELETE FROM contents WHERE id = #{id}
	</delete>


</mapper>