<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{common :: head}"></head>
  <body>
    <nav th:replace="~{common :: navbar}"></nav>
    <div class="container mt-5">
      <div th:if="${status != null}" class="alert alert-success">
        [[${status}]]
      </div>    
      <h1>実績リスト</h1>
      <a class="btn btn-primary my-3" th:href="@{/contents/add}">案件の追加</a>
      <div class="row">
        <div class="col-md-12">
          <table class="table table-bordered table-hover list-table">
            <thead>
              <tr class="bg-secondary text-white">
                <th>ID</th>
                <th>区分名</th>
                <th>案件名</th>
                <th>担当者</th>
                <th>リンク</th>
              </tr>
            </thead>
            <tbody>
              <tr class="align-middle"
                  th:each="content : ${contentList}"
                  th:object="${content}">
                <td>[[*{id}]]</td>
                <td>[[*{category.id}]]</td>
                <td>[[*{product.name}]]</td>
                <td>[[*{member.id}]]</td>
                <td><a class="btn btn-warning" th:href="@{/contents/detail/{id}(id=*{id})}">詳細</a></td>
              </tr>
            </tbody>
          </table>
        </div>
        <th:block th:insert="~{common :: pagination(${page}, ${totalPages})}"></th:block>
      </div>
    </div>
    <!-- /.container -->
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
  </body>
</html>
